<h1>Google Map API</h1>
<div id="map"></div>
<style>
	#map {
		height: 400px;
	width: 600px;
	}
</style>
<script src="js/maps.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBv24nYTKrRcTsLRjgwBEcP1OkpwETmmeY&callback=initMap"></script>
