<div class="row">
    <div class="container">
        <header style="border-bottom: none; padding: 35px 0px;">
            <div class="col-lg-3 col-6">
                <div id="logo">

                    <a href="/" title="ConnectMD">
                        <img src="img/logo.png" data-retina="true" alt="" width="150" height="75">
                    </a>

                </div>
            </div>
            <ul style="font-family: 'Oswald', sans-serif;" class="nav navbar-nav navbar-right">
                <li>
                    <a class="menu" href="/">Logout</a>
                </li>
            </ul>
        </header>

    </div>
</div>
<br>
<br>
<div class="container" style="font-family: 'Oswald', sans-serif;">
    <h2 class="page-header">Dashboard</h2>
    <div class="row">
        <div class="col-md-6">
            <h1>Hi {{first_name}}!</h1>
        </div>
        <div class="col-md-6">
            <h2>Upcoming Appointments:</h2>
            <div class="container">
                <p>
                    <b>Dr. Phil</b>
                </p>
                <p>May 27</p>
                <p>10:30 am</p>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3>Provider:</h3>
            <ul>
                <li name="name">Name: </li>
                <li name="address">Address:</li>
                <li name="speciality">Speciality:</li>
                <li name="phone_number">Phone Number:</li>
            </ul>

        </div>
        <div class="col-md-6">
            <div style="height:400px width:600px" id="map">
                <h1>Google Map API</h1>
                <script src="js/maps.js"></script>
                <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBv24nYTKrRcTsLRjgwBEcP1OkpwETmmeY&callback=initMap"></script>
            </div>
        </div>
    </div>
</div>