
<section class="slider" id="home">
	<div class="container-fluid" >
		<div class="row">
			<div class="carousel-inner" role="listbox">
				<div class="row" id="box-search">
    				<div class="thumbnail text-center">
        				<img src="/img/slide-four.jpg" alt="" class="img-responsive">
        				<div class="caption">
            				<p>Easily find your health insurance network doctor</p>
        				</div>
    				</div>
				</div>
			</div>	
		</div>
	</div>
</section>

