<section class="slider" id="home">
	<div class="container-fluid">
		<div class="row">
			<div class="carousel-inner" role="listbox">
				<div class="row" id="box-search">
					<div class="thumbnail text-center">
						<img src="/img/slide-four.jpg" alt="" class="img-responsive">
						<div class="carousel-caption" style="top: 50px; bottom: auto;">
							<h1>Easily find your health insurance network doctor</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>