<h1>Landing Page/Signin</h1>
<form>
	<div>
	<label>Email:</label>
	<input type="text" name="email"/><br/>
	</div>
	<div>
	<label>Password:</label>
	<input type="text" name="password"/>
	</div>
	<div>
	<input type="submit" value="Submit"/>
	</div>
</form>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
	$('form').on('submit', function() {
		var loginInfo = {};
		loginInfo.email = $('input:email').val();
		loginInfo.password = $('input:password').val();
		$.ajax({
			type: "POST",
			url: '/api/signin,
			data: loginInfo,
			dataType: 'application/json'
		});		
	});
</script>
